@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Sách mới</h2>
<div class="row">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <ul class="product_box">
                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                    <div class="hinhanh_sanpham">
                        <img alt="@sach.Tensach" src="~/Hinhsanpham/@sach.Anhbia" width="85%" height="250px" />
                    </div>
                    <div>
                        <br />
                        <h4 style="margin:0">
                            @sach.Tensach
                        </h4>

                        <p></p>
                        <div class="ratings">
                            <p class="pull-right">16 reviews</p>
                            <p>
                                <i style="font-size:20px" class="fa">&#xf004;</i>
                                <i style="font-size:20px" class="fa">&#xf004;</i>
                                <i style="font-size:20px" class="fa">&#xf004;</i>
                                <i style="font-size:20px" class="fa">&#xf004;</i>
                                <i style="font-size:20px" class="fa">&#xf004;</i>

                            </p>
                        </div>
                    </div>
            </ul>
        </div>
    }
</div>
        Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
        <div class="MenuTrang" align=center >
            @Html.PagedListPager(Model, page=>Url.Action("Index", new { page=page }))
        </div>
        <style>
            .MenuTrang li {
                display: inline;
            }
        </style>



